{% extends 'base.html' %}

{% block title %}
My本棚
{% endblock title %}

{% block header %}
<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">My本棚</h1>
    <a href="{% url 'create' %}"><button type="button" class="btn btn-primary">新規登録</button></a>
  </div>
</div>
{% endblock header %}

{% block content %}
<div class="container-xl">
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">タイトル</th>
      <th scope="col">著者</th>
      <th scope="col">購入金額</th>
      <th scope="col">種別</th>
      <th scope="col">評価</th>
    </tr>
  </thead>
  <tbody>
  {% for item in object_list %}
    <tr>
      <th scope="row">{{ item.pk }}</th>
      <td><a href="{% url 'detail' item.pk %}">{{ item.title }}</a></td>
      <td>{{ item.author }}</td>
      <td>{{ item.price }}円</td>
      <td>{{ item.kind }}</td>
      <td>{{ item.eval }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>

{% endblock content %}